h3{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 35pt;
}

.intro{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30pt;
  width: 50%;
}

.start{
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  justify-content: center;
}

.startbttn{
  background-color: #E8A87C;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  box-shadow: 2px 2px;
}