body{
  margin-bottom: 20px;
}

.formDiv{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -10px;
}

.register{
  width: 20%;
  
}

.submit{
  margin-right: 15px;
  margin-bottom: 10px;
}

.login{
  margin-right: 15px;
  margin-bottom: 20px;
  width: 100px;
}

.loginLink{
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
}
